/* setting full-screen responsive background image to page */
html {
    background-image: url('./images/drum_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* setting font of the whole body text */
body {
    font-family: 'Encode Sans Expanded', sans-serif;
}

/* styling top heading */
.heading {
    font-size: 80px;
    color: rosybrown;
    font-family: 'Amatic SC', cursive;
    text-align: center;
}

/* styling sub-heading */
.sub-heading {
    font-size: 45px;
    color: rosybrown;
    font-family: 'Amatic SC', sans-serif;
    text-align: center;
    margin-top: 0px;
}

/* using media queries to properly scale heading's font size */
@media only screen and (max-width: 700px) {
    .heading {
        font-size: 50px;
    }
}

/* defining style for a key container */
.key-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* defining style for a single key */
.key {
    border: 3px solid black;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 6px 12px;
    margin: 15px;
    transition: all 0.06s ease;
    cursor: pointer;
}

/* defining style for a single alphabetical letter inside the key */
kbd {
    font-size: 32px;
    display: block;
    color: rosybrown;
}

/* defining style for the sound word inside the key */
.sound {
    color: white;
    font-size: 14px;
}

/* this class gets added to a key as it's being played */
.playing {
    transform: scale(1.2);
    box-shadow: 0 0 2px rosybrown;
    border-color: rosybrown;
}

/* styling footer texts */
footer {
    margin-top: 50px;
}
.footer-personal {
    text-align: center;
    font-size: 16px;
    color: rosybrown;
}
.footer-code-license {
    text-align: center;
    font-size: 14px;
    color: rosybrown;
}
a {
    color: black;
    text-decoration: none;
}