/* setting full-screen responsive background image to page */
html {
    background-image: url('./images/drum-background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* setting font of the whole body text */
body {
    font-family: Calibri, sans-serif;
}

/* defining style for a key container */
.key-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* defining style for a single key */
.key {
    border: 3px solid black;
    border-radius: 3px;
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 6px 12px;
}

/* defining style for a single alphabetical letter inside the key */
kbd {
    font-size: 32px;
    display: block;
    color: rosybrown;
}

/* defining style for the sound word inside the key */
.sound {
    color: white;
    font-size: 16px;
}